# tasks/main.yaml
---
- include: update-debian-repo.yml
  when: ansible_os_family == 'Debian'
- include: update-centos-repo.yml
  when: ansible_os_family == 'RedHat'
- name: Install optional components
  package: state=present name={{ item }}
  with_items:
    - sudo
    - vim
    - htop
    - git
    - tmux

